body {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #080808;
  color: white;
  z-index: 1000;
  transition: background-color 0.3s;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6347;
}

header, section {
  padding: 100px 20px;
  text-align: center;
  margin-top: 50px;
}

header {
  background: #5e0606;
  color: white;
  padding: 100px 20px;
}

header h1 {
  font-size: 3em;
  margin: 0;
}

header p {
  font-size: 1.2em;
}

section {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

section p {
  font-size: 1.1em;
  line-height: 1.6;
}

#services ul {
  list-style: none;
  padding: 0;
}

#services li {
  font-size: 1.1em;
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-size: 1.1em;
  margin: 10px 0 5px;
}

form input, form textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  width: auto;
  background-color: #5e0606;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #ff6347;
}
